body {
  background-color:  #111111e4;
  /* color: rgb(170, 170, 170); */
  color: #fff;
  /* height: 100%; */
}

body * {
  font-family: 'Noto Sans KR'!important;
}

input, button {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  color: #fff;
}

a {
  text-decoration: none;
}

input.form {
  width: 100%;
  background-color: #333;
  padding: 13px;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

input.form:focus {
  outline: none;
}

button.ai-btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 #00000029;
  box-sizing: border-box;
  background-color: #650aa8;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button.ai-btn-gray {
  background-color: #333;
}

button.ai-btn-disabled {
  background-color: #767676;
  cursor: default;
}