#gnb {
  height: 180px;
}

#gnb .logo-wrap img.logo {
  width: 220px;
  height: 98px;
}

#cnt {
  min-height: calc(100vh - 180px);
}



/* Login, GNB */

#cnt .login-wrap {
  width: 440px;
  height: 620px;
  border-radius: 8px;
  background-color: #111111e6;
  position: relative;
  margin: 0 auto;
  /* padding: 65px 60px; */
  box-sizing: border-box;
  top: 175px;
}

#cnt .login-wrap .gnb {
  width: 100%;
  height: 60px;
  /* padding: 30px; */
  /* border: 1px solid blue; */
  box-sizing: border-box;
}

#cnt .login-wrap .gnb img.icon-close {
  width: 28px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

#cnt .login-wrap .gnb .progress-wrap {
  width: 100%;
  height: 10px;
  background-color: #333;
  border-radius: 8px 8px 0px 0px;
}

#cnt .login-wrap .gnb .progress-wrap .progress {
  width: 0%;
  height: 100%;
  background-color: #650aa8;
  border-radius: 8px 0px 0px 0px;
  transition: .12s;
  transition-timing-function: ease-in-out;
}

#cnt .login-wrap .slide-wrap {
  /* border: 1px solid blue; */
}



/* Slide 1 */

#cnt .login-wrap .slide-wrap .slide-1 {
  padding: 0px 60px;
  /* border: 1px solid blue; */
  box-sizing: border-box;
}

#cnt .login-wrap .slide-wrap .slide-1 .form-title {
  font-size: 26px;
  margin-bottom: 40px;
}

#cnt .login-wrap .slide-wrap .slide-1 input.form {
  margin-bottom: 22px;
}

#cnt .login-wrap .slide-wrap .slide-1 input.form-last {
  margin-bottom: 0;
}

#cnt .login-wrap .slide-wrap .slide-1 .find-pw {
  font-size: 12px;
  color: #aaa;
  position: relative;
  margin: 8px 0px 22px 0px;
}

#cnt .login-wrap .slide-wrap .slide-1 .find-pw .find-pw-link {
  border-bottom: 1px solid #aaa;
  color: #767676;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

#cnt .login-wrap .slide-wrap .slide-1 .info-save {
  font-size: 12px;
  margin: 16px 0px 28px 0px;
  cursor: pointer;
}

#cnt .login-wrap .slide-wrap .slide-1 .info-save img.icon-check {
  width: 20px;
  margin-bottom: -5px;
  margin-right: 5px;
}

#cnt .login-wrap .slide-wrap .slide-1 .social-login {
  display: flex;
}

#cnt .login-wrap .slide-wrap .slide-1 .social-login .btn-login {
  font-size: 12px;
  color: #767676;
  width: 100%;
  /* border: 1px solid blue; */
  /* text-align: center; */
}

#cnt .login-wrap .slide-wrap .slide-1 .social-login .btn-login img.icon {
  width: 20px;
  margin-bottom: -5px;
}

#cnt .login-wrap .slide-wrap .slide-1 .comment {
  text-align: center;
  color: #9e9e9e;
  font-size: 12px;
  margin: 48px 0px 10px 0px;
}



/* Slide 2 */

#cnt .login-wrap .slide-wrap .slide-2 {
  padding: 0px 60px;
  box-sizing: border-box;
}

#cnt .login-wrap .slide-wrap .slide-2 .slide-title {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
  position: relative;
}

#cnt .login-wrap .slide-wrap .slide-2 .slide-title img.icon-back {
  width: 28px;
  height: 28px;
  margin-right: 6px;
  cursor: pointer;
}

#cnt .login-wrap .slide-wrap .slide-2 .slide-title .title {
  font-size: 26px;
}

#cnt .login-wrap .slide-wrap .slide-2 .slide-title .explain {
  font-size: 12px;
  color: #aaa;
  position: absolute;
  right: 0px;
}

#cnt .login-wrap .slide-wrap .slide-2 .select-wrap {
  margin-top: 53px;
}

#cnt .login-wrap .slide-wrap .slide-2 .select-wrap .select {
  width: 100%;
  height: 200px;
  /* background-color: gray;    */
  text-align: center;
  padding: 14px 0px;
  box-sizing: border-box;
  cursor: pointer;
}

#cnt .login-wrap .slide-wrap .slide-2 .select-wrap .select .title {
  font-size: 20px;
  margin-bottom: 4px;
}

#cnt .login-wrap .slide-wrap .slide-2 .select-wrap .select .sub {
  font-size: 14px;
  line-height: 14px;
}

#cnt .login-wrap .slide-wrap .slide-2 .select-wrap .select-1 {
  background-image: url('~assets/img/back/login-back-1.png');
  background-size: cover;
  margin-bottom: 26px;
}

#cnt .login-wrap .slide-wrap .slide-2 .select-wrap .select-2 {
  background-image: url('~assets/img/back/login-back-2.png');
  background-size: cover;
}



/* Slide 3 */

#cnt .login-wrap .slide-wrap .slide-3 {
  padding: 0px 60px;
  box-sizing: border-box;
}

#cnt .login-wrap .slide-wrap .slide-3 .slide-title {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
  position: relative;
  margin-bottom: 36px;
}

#cnt .login-wrap .slide-wrap .slide-3 .slide-title img.icon-back {
  width: 28px;
  height: 28px;
  margin-right: 6px;
  cursor: pointer;
}

#cnt .login-wrap .slide-wrap .slide-3 .slide-title .title {
  font-size: 26px;
}

#cnt .login-wrap .slide-wrap .slide-3 .slide-title .explain {
  font-size: 18px;
  /* color: #aaa; */
  position: absolute;
  right: 0px;
}

#cnt .login-wrap .slide-wrap .slide-3 .info {
  color: #aaa;
  font-size: 12px;
}

#cnt .login-wrap .slide-wrap .slide-3 .btn-social {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-size: 14px;
  color: #aaa;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  
  margin-bottom: 10px;
}

#cnt .login-wrap .slide-wrap .slide-3 .btn-social img.icon {
  width: 30px;
  position: absolute;
  left: 5px;
}

#cnt .login-wrap .slide-wrap .slide-3 .info-1 {
  margin-bottom: 10px;
}

#cnt .login-wrap .slide-wrap .slide-3 .info-2 {
  margin: 20px 0px 14px 0px;
}

#cnt .login-wrap .slide-wrap .slide-3 .form-email-check {
  position: relative;
}

#cnt .login-wrap .slide-wrap .slide-3 .form-email-check button.btn-check {
  height: 50px;
  padding: 13px;
  background-color: #767676;
  border-radius: 0px 8px 8px 0px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

#cnt .login-wrap .slide-wrap .slide-3 .form-email-check button.btn-check-active {
  background-color: #650aa8!important;
}

#cnt .login-wrap .slide-wrap .slide-3 .info-3 {
  margin: 20px 0px 95px 0px;
}



/*  Slide 4 */

#cnt .login-wrap .slide-wrap .slide-4 {
  padding: 0px 60px;
  box-sizing: border-box;
}

#cnt .login-wrap .slide-wrap .slide-4 .slide-title {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
  position: relative;
  margin-bottom: 36px;
}

#cnt .login-wrap .slide-wrap .slide-4 .slide-title img.icon-back {
  width: 28px;
  height: 28px;
  margin-right: 6px;
  cursor: pointer;
}

#cnt .login-wrap .slide-wrap .slide-4 .slide-title .title {
  font-size: 26px;
}

#cnt .login-wrap .slide-wrap .slide-4 .slide-title .explain {
  font-size: 18px;
  /* color: #aaa; */
  position: absolute;
  right: 0px;
}

#cnt .login-wrap .slide-wrap .slide-4 .rules {
  margin: 4px 0px 16px 0px;
  font-size: 11px;
  color: #aaa;
}

#cnt .login-wrap .slide-wrap .slide-4 .select-wrap {
  width: 100%;
  border-top: 1px solid #3c3c3c;
  padding: 20px 0px;
}

#cnt .login-wrap .slide-wrap .slide-4 .select-wrap .select-header {
  display: flex;
  position: relative;
}

#cnt .login-wrap .slide-wrap .slide-4 .select-wrap .select-header .title {
  font-size: 14px;
}

#cnt .login-wrap .slide-wrap .slide-4 .select-wrap .select-header .tag {
  font-size: 11px;
  color: #aaa;
  position: absolute;
  right: 0px;
}

#cnt .login-wrap .slide-wrap .slide-4 .select-wrap .select-list {
  display: flex;
  gap: 8px;
  padding-top: 10px;
}

#cnt .login-wrap .slide-wrap .slide-4 .select-wrap .select-list .select {
  text-align: center;
  padding: 2px 10px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
}

#cnt .login-wrap .slide-wrap .slide-4 .select-wrap .agree-check {
  font-size: 12px;
  margin: 16px 0px 28px 0px;
  cursor: pointer;
}

#cnt .login-wrap .slide-wrap .slide-4 .select-wrap .agree-check img.icon-check {
  width: 20px;
  margin-bottom: -5px;
  margin-right: 5px;
}